<div class="attendance-dashboard">
  <h1>Liste de présence du <%= l Date.current, format: :long %></h1>

  <% if Date.current.monday? %>
    <div class="alert alert-info">
      Le Circographe est fermé le lundi
    </div>
  <% else %>
    <%= render "quick_check_in_form" %>

    <div class="current-attendees">
      <h2>Présents (<%= @daily_list.attendances.count %>)</h2>
      
      <div class="attendees-list">
        <%= render @daily_list.attendances.includes(:user) %>
      </div>
    </div>
  <% end %>
</div> 